.height{
  max-height: 500px;  
  }
  /* App.css */
  .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin-top: -20px; /* Adjust this value as needed */
    }
    
    
    .big-button {
      padding: 20px 40px;
      margin: 0 20px;
      font-size: 24px;
      cursor: pointer;
    }
  .height{
max-height: 500px;  
}
/* App.css */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: -20px; /* Adjust this value as needed */
  }
  
  
  .big-button {
    padding: 20px 40px;
    margin: 0 20px;
    font-size: 24px;
    cursor: pointer;
  }
    

.ai{
  width: 10%;
  position: fixed;
  z-index: 10;
  border-radius: 40%;
  bottom: 80px;
  right: 20px;

}

#footer{
  min-height: 108px;
  background: #1e40af;
  padding: 2vw 10vw 2vw;
}
#footer-left{
  max-width: 587px;
}
#footer-text{
  max-width: 527px;
  color: #C8CDDC;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 21.6px;
}
#footer-right{
  font-family: "Inter", sans-serif;
  line-height: 21.6px;
  size: 16px;
  font-weight: 700;
}